.body
  - if user_signed_in?
    .bodyin
      = link_to destroy_user_session_path, method: :delete do
        ログアウト
    %h2
      科目設定フォーマット
    %ul 
      %li 
        =link_to incomes_path do
          収入科目入力欄
      %li 
        =link_to fixedcosts_path do
          固定費科目入力欄   
      %li 
        =link_to variablecosts_path do
          変動費費科目入力欄
    %h2 収支登録
    %ul 
      %li 
        =link_to income_values_path do
          収入金額登録欄
      %li 
        =link_to fixedcost_values_path do
          固定費金額登録欄
      %li 
        =link_to variablecost_values_path do
          変動費金額登録欄
  - else
    .bodyin
      = link_to new_user_session_path do
        ログイン
    .bodyin
      = link_to new_user_registration_path do
        新規会員登録